@font-face {
    font-family: MoonBold; 
    src: url(./fonts/MOON-BOLD.OTF); 
}
@font-face {
    font-family: RobotoRegular; 
    src: url(./fonts/RobotoRegular.ttf); 
}

.spinner-logo {
  animation: spinner-logo-spin infinite 5000ms linear;
  width: 144px;
  height: 144px;
  background-image: url(./img/logo-spinner.svg);
  background-size: cover;
}

h1 {
  font-family: MoonBold;
  font-size: 30px;
  color: #333;
  margin-top: 0;
  margin-bottom: 60px;
}
h2 {
  font-family: RobotoRegular;
  font-size: 20px;
}

.search input {
  width: 570px;
  padding: 8px;
  border: 2px solid #333;
  border-radius: 5px;
  outline: none;
  font-family: RobotoRegular;
  font-size: 20px;
}
.search button {
  background-color: #333;
  border: none;
  width: 213px;
  height: 45px;
  font-family: RobotoRegular;
  transition: 200ms;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 10px;
  color: #fff;
}
.search button:focus {
  outline: none;
}
.search button:hover {
  background-color: #444;
}

.top .header {
  align-items: center;
  justify-content: start;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
}

.top .header input, .top .header button {
  font-size: 16px;
}
.top .header button {
  height: 39px;
}

.top .header .spinner-logo {
  display: none;
}

.top .header h1 {
  position: relative;
  top: 30px;
  padding-right: 15px;
  padding-left: 20px;
}

.main .header {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.main .news-container {
  display: none;
}

.news-container {
  display: inline-block;
  flex-direction: row;
  width: 70%;
  padding: 20px;
}
.newsColumn {
  display: flex;
  flex-direction: column;
}
.newsColumn .articleItem {
  position: relative;
  background-color: #f0f0f0;
  width: 90%;
  padding: 12px;
  border-radius: 5px;
}
.article .arrow-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 14px;
  height: 9px;
  background-image: url(./img/arrow-down.png);
}
.newsColumn h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.article .articleHeader {
  cursor: pointer;
  margin-top: 10px;
}
.article .picture{
  float: left;
  display: inline-block;
  margin-right: 12px;
}
.article .text {
  font-family: RobotoRegular;
  font-size: 16px;
  margin-bottom: 20px;
}
.page {
  display: flex;
  flex-direction: row;
}

.filterColumn {
  height: 100vh;
  width: 30%;
  padding: 20px;
}
.filterItem:first-child{
  border-radius: 10px 10px 0px 0px;
}
.filterItem:last-child{
  border-radius: 0px 0px 10px 10px;
}
.filterItem {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.filterItem h2 {
  margin-top: 0;
  margin-bottom: 5px;
}
.filterItem p {
  margin-top: 0;
  margin-bottom: 5px;
}

@keyframes spinner-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
