@import "carousel.css";

@font-face {
    font-family: MoonBold; 
    src: url(./fonts/MOON-BOLD.OTF); 
}
@font-face {
    font-family: RobotoRegular; 
    src: url(./fonts/RobotoRegular.ttf); 
}

.spinner-logo {
  animation: spinner-logo-spin infinite 5000ms linear;
  width: 144px;
  height: 144px;
  background-image: url(./img/logo-spinner.svg);
  background-size: cover;
}

h1 {
  font-family: MoonBold;
  font-size: 30px;
  color: #5d5d5d;
  margin-top: 0;
  margin-bottom: 60px;
}
h2 {
  font-family: RobotoRegular;
  font-size: 20px;
}

.search input {
  width: 570px;
  padding: 8px;
  border: 2px solid #5d5d5d;
  border-radius: 5px;
  outline: none;
  font-family: RobotoRegular;
  font-size: 20px;
}
.search button {
  background-color: #5d5d5d;
  border: none;
  width: 213px;
  height: 45px;
  font-family: RobotoRegular;
  transition: 200ms;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 10px;
  color: #fff;
}
.search button:focus {
  outline: none;
}
.search button:hover {
  background-color: #444;
}

.top .header {
  align-items: center;
  justify-content: start;
  display: flex;
  flex-direction: row;
}

.top .header input, .top .header button {
  font-size: 16px;
}
.top .header button {
  height: 39px;
}

.top .header .spinner-logo {
  display: none;
}

.top .header h1 {
  position: relative;
  top: 30px;
  padding-right: 15px;
  padding-left: 20px;
}

.main .header {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.main .news-container {
  display: none;
}

.news-container {
  display: inline-block;
  flex-direction: row;
  width: 70%;
  padding: 20px;
  background-color: #fff!important;
}
.newsColumn {
  display: flex;
  flex-direction: column;
}
.newsColumn .articleItem {
  position: relative;
  background-color: #f0f0f0;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
}
.mainTitle{
  font-size: 20px!important;
}
.newsColumn h2 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-family: RobotoRegular;
}
.article .articleHeader {
  cursor: pointer;
  margin-top: 10px;
}
.article .picture{
  float: left;
  display: inline-block;
  margin-right: 12px;
}
.article .text {
  font-family: RobotoRegular;
  font-size: 16px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.article .date {
  font-family: RobotoRegular;
  font-size: 16px;
  text-align: left;
  text-decoration: underline;
  margin-bottom: 8px;
}
.page {
  display: flex;
  flex-direction: row;
}

.filterColumn {
  height: 100vh;
  width: 30%;
  padding: 20px;
}
.filterItem:first-child{
  border-radius: 10px 10px 0px 0px;
}
.filterItem:last-child{
  border-radius: 0px 0px 10px 10px;
}
.filterItem {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.filterItem h2 {
  margin-top: 0;
  margin-bottom: 5px;
}
.filterItem p {
  margin-top: 0;
  margin-bottom: 5px;
}


.publishers {
  width: 100%;
}
.publishers ul {
  padding: 20px 10px 0px 10px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}
.publishers ul li {
  display: inline;
  position: relative;
  list-style: none;
  margin-right: 50px;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  padding: 10px 40px 2px 20px;
}
.publishers ul li:first-child {
  margin-left: 20px;
}
.publishers ul li:after {
  position: absolute;
  top: 0;
  right: 10px;
  content: 'x';
  margin-left: 10px;
  font-weight: 100;
  font-family: Verdana;
  font-size: 12px;
}
.publishers ul li:last-child:after {
  content: '';
}
.publishers ul li.choosen{
  background-color: #fff;
  padding: 10px 40px 2px 20px;
  border-radius: 3px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 2px solid #fff;
}
.publishers ul li.plus{
  font-family: Verdana;
  font-size: 30px;
  color: ForestGreen;
  font-weight: bold;
}

@keyframes spinner-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
